@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.button-style{
    text-decoration: none;
    background-color: #ffffff;
}
.packege-color{
    background-color: #e6d8e1;
}
/* .card-color{
 background-color: #F5F4FA;
 border-radius: 5px;  
} */
.card-bacground{
    background-color: #3F87F5;
    height: 500px;
}