*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.button-style{
    text-decoration: none;
    background-color: #ffffff;
}
.packege-color-button{
    background-color: #f5eef2;
    width: 207px;
    height: 45px;
    text-decoration: none;
}
/* .card-color{
 background-color: #F5F4FA;
 border-radius: 5px;  
} */
.card-bacground{
    background-color: #3F87F5;
    height: 500px;
    border-radius: 15px;
}
.hot-button{
    background-color: #3F87F5;
    margin-left: 160px;
}
.hot-packege-color-button{
    background-color: #ffffff;
    width: 207px;
    height: 45px;
    text-decoration: none;
}
.footer-design{
    height: 280px;
}
.google-ply-button{
    width: 140px;
    height: 50px;
    border-radius: 10px;
}